
.dash-header {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: rgb(0 75 150 / 75%);
}

.dash-sider {
  background-color: rgb(0 50 100 / 90%) !important;
}

.dash-content {
  display:flex; 
  flex-direction: row;
  align-items:center; 
  justify-content:center;
  background-color: rgba(200, 200, 200, 0.25);
}

.container-left {
  display:flex; 
  align-items:center; 
  justify-content:center;
  flex: 1;
  padding: 1%;
}

.container-center {
  display:flex; 
  flex-direction: row;
  align-items:center; 
  justify-content:center;
  flex: 1;padding: 1%;
}

.container-right {
  display:flex; 
  flex-direction: row;
  align-items:center; 
  justify-content:center;
  flex: 1;padding-right: 5%;
}

path {
  stroke: #ffffff82; 
  stroke-width: 0.5px; 
  /*fill: rgba(230, 230, 230, 1);*/
}  
svg {
  margin:1%;
  padding: 1%;  
  display:flex; 
  align-items:center; 
  justify-content:center;
  overflow:visible;
}

.tooltip-area2 {
  position: absolute;
     text-align: center;
     padding: .5rem;
     background: #ffffff;
     color: #313639;
     border: 1px solid #313639;
     border: 1px black;
     border-radius: 8px;
     pointer-events: none;
}

.tooltip-area__text2 {
  opacity: 0.95;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  font-variant: normal;
  text-transform: capitalize;
  text-align: center;
  color: #ff0000 !important;
}

.logo {
  width:100%;
}

.siderTitle {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: beige;
  text-align: center;
}

#bar-graph {
  width: 400px;
  height: 400px;
}
#bar-graph g text{
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

svg rect.foo {
  fill: white;
  stroke-width: 0.5;
  stroke: grey;
}